faiss-cpu==1.7.4
openai==1.3.5
pypdf2==3.0.1
flask==2.0.1
python-dotenv==1.0.0
google-generativeai
pandas
flask_cors==3.0.10
deep_translator
langchain==0.0.340 # Added for text splitting
requests==2.31.0  # Added for Brave Search API calls
